
h1 {
  text-align: center;
}

h3 {
  text-align: center; 
}

.turbo {
text-align: center;
margin-right: center;
margin-left: center;
}


button {
  border: solid 2px white;
  box-shadow: 2px 2px 2px gray;
  margin-left: 46%;
  margin-right: auto;
  background: rgb(14, 33, 141);
  color: rgb(233, 229, 23);
}

.input {
  display: grid;
  grid-template-columns: auto;
  margin-left: 30%;
  margin-right: 30%;
  padding-left: 10%;
  padding-right: 10%;

}

input {
margin-left: 45%;
margin-right: auto;
background: rgb(253, 235, 66);
color: rgb(255, 17, 0);

}